<div class="image-gallery-02-container" [ngClass]="[portfolioConfig.overview.displayGrid ? 'showGrid': '']" #galleryContainerElement>
  <div class="image-gallery-02-controls" [ngClass]="[pageLoaded ? 'show' : '']" *ngIf="showControls">
    <div *ngFor="let viewType of viewTypes" class="controls-icon-container link" (click)="changeViewType(viewType)" [ngClass]="[viewType.active ? 'active' : '']">
        <i class="controls-icon" [ngClass]="[viewType.class]"></i>
        <span class="controls-icon-label">{{viewType.title}}</span>
    </div>
    <form class="filter-form">
      <i class="filter-select-icon fa fa-filter"></i>
      <select name="filter-select" class="select-no-styling link" (change)="changeFilter($event.target.value)">
        <option *ngFor="let filter of filterOptions" [value]="filter.name">
          {{filter.title}}
        </option>
      </select>
    </form>
  </div>
  <div class="gallery-images-container">
    <div *ngFor="let image of filteredImages" class="gallery-image-container" [ngClass]="[displayLargeImages ? 'display-large' : '', image.isPrimaryImage || !onlyShowTitleImages ? '' : 'hide']" [ngStyle]="{'width': imageWidth + 'px', 'height': imageHeight + 'px'}">
      <div class="gallery-image">
        <a class="image-container" [routerLink]="[image.routerLink]">
          <!-- <div class="post-image" [ngStyle]="getPostImageBackgroundStyle(post)" *ngIf="post.images && post.images.length > 0">
          </div> -->
          <img class="image" [src]="image.url" (load)="imageLoaded(image)" [ngClass]="image.imageLoaded && pageLoaded && allImagesLoaded ? 'loaded': ''"/>
          <div class="post-image-title-container" [ngClass]="image.imageLoaded && pageLoaded && allImagesLoaded ? '': 'hide'">
            <div class="post-image-title">
              <div class="post-image-title-text" [innerHTML]='image.title'></div>
            </div>
          </div>
        </a>
        <div class="post-date" *ngIf="portfolioConfig.displayDescriptionBelowImage">{{getDateStringLong(image.date)}}</div>
        <a [routerLink]="image.routerLink" *ngIf="portfolioConfig.displayTitleBelowImage">
          <h2 [innerHTML]='image.title' class="post-heading wrc-heading-01"></h2>
        </a>
        <div class="post-description-container" *ngIf="portfolioConfig.displayDescriptionBelowImage">
          <div class="post-description" [innerHTML]='image.description'></div>
          <div class="post-description-overlay"></div>
        </div>
        <a class="post-more-button" [routerLink]="image.routerLink" *ngIf="portfolioConfig.displayDescriptionBelowImage">Mehr erfahren</a>
      </div>
    </div>
  </div>
</div>
