@mixin childPostPaddingLeftNone($nth) {
    &:nth-child(#{$nth}n + 1) {
        .gallery-image {
          padding-left: 0
        }
    }
}

@mixin childPostPaddingRightNone($nth) {
    &:nth-child(#{$nth}n + #{$nth}) {
        .gallery-image  {
            padding-right: 0
        }
    }
}

@mixin childPostPaddingTopNone($nth) {
    &:nth-child(-n + #{$nth}) {
        .gallery-image  {
          padding-right: 0
        }
    }
}

@mixin childPostPaddingTopNone($nth) {
    &:nth-child(#{$nth}n + 2) {
        .gallery-image  {
          padding-top: 0
        }
    }
}

@mixin childPostBorderRightNone($nth) {
    &:nth-child(#{$nth}n + #{$nth}) {
        border-right: none;          
    }
}

@mixin childPostBorderBottomNone($nth) {
    &:nth-last-child(-n + #{$nth}) {
        border-bottom: none;          
    }
}

       
.image-gallery-02-container {
    @include flexbox();
    @include flex-wrap(wrap);
    .image-gallery-02-controls {
        opacity: 0;
        width: 100%;
        @include transition(
            opacity 0.5s ease
        );
        &.show {
            opacity: 1;
        }
        .controls-icon-container {
            display: inline-block;
            &.active {
                .controls-icon, .controls-icon-container {
                    color: $main-text-color;
                }
            }
            .controls-icon {
                margin-right: 5px;
                color: $text-02-color;
            }
            .controls-icon-label {
                font-size: $text-main-size;
                margin-right: 15px;
                color: $text-02-color;
            }
        }
        .filter-form {
            float: right;
            .filter-select-icon {
                display: inline-block;
                position: relative;
                left: 20px;
                font-size: $text-main-size;
                color: $text-02-color;
                margin-right: 5px;
            }
            select {
                position: relative;
                padding-left: 20px;
                font-family: $font-family;
                font-size: $text-main-size;
                color: $text-02-color;
            }    
        }
    }
    .gallery-images-container {
        @include flexbox();
        flex-wrap: wrap;
        .gallery-image-container {   
            //color: #303030;
            // opacity: 0;
            // animation-name: fade-in;
            // animation-delay: 1s;
            // animation-duration: 0.7s;
            // animation-timing-function: ease;
            // animation-fill-mode: forwards;
            @include flexbox();
            @include flex-direction(column);
            padding-bottom: 0;
            display: inline-block; 
            &.display-large {
                .gallery-image {
                    .image-container {
                        .post-image-title-container {
                            opacity: 1;
                            background-color: rgba($main-background-color-dark, 0.3);
                            .post-image-title {
                                font-size: 1.8em;
                                line-height: 1.3em;
                                .post-image-title-text {
                                    padding: 15px;
                                }
                            }
                       }
                    }
                }
            }
            &:not(.display-large) {
                .gallery-image {
                    .image-container {
                        .post-image-title-container {
                            .post-image-title {
                                opacity: 0;
                                font-size: 1.1em;
                                line-height: 1em;
                                .post-image-title-text {
                                    padding: 10px;
                                }
                            }
                       }
                    }
                }
            }
            .gallery-image {
                height: 100%;
                .image-container {
                    position: relative;
                    display: block;
                    @include flexbox();
                    @include flex-direction(column);
                    align-content: center;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    height: 100%;
                    .image {
                        opacity: 0;
                        @include transition(
                            opacity 1.5s ease
                        );
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        &.loaded {
                            opacity: 1;
                        }
                    }
                    .default-icon {
                        width: 40px;
                        height: 100px;
                        // background-image: url("../../../resources/Logo.png"); //no-repeat;
                        background-size: 100% 100%;
                    }
                    .post-image-title-container {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        color: $main-text-color-on-dark-bg;
                        background-color: rgba($main-text-color, 0.05);
                        @include transition(
                            background-color 0.3s ease,
                            opacity 0.3s ease
                        );
                        @include flexbox();
                        @include flex-direction(column);
                        align-content: center;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        &.hide {
                            opacity: 0 !important;
                        }
                        .post-image-title {
                            width: 100%;
                            .post-image-title-text {
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin: 0;
                                // font-family: serif;
                                font-weight: 800;
                            }
                        }
                    }
                }
                .post-date {
                    margin-top: 30px;
                    display: inline-block;
                    font-size: 12px;
                    padding: 0 10px;
                    font-weight: 600;
                    color: $main-background-color;
                    background-color: $main-text-color; 
                }
                .image-title-container {
                    .image-title {
                        @include transition(
                            opacity 1.5s ease
                        );
                        text-transform: uppercase;;
                        opacity: 0;
                    }
                    &.loaded {
                        .image-title {
                            opacity: 1;
                        }
                    }
                }
                .post-description-container {
                    height: 150px;
                    padding-bottom: 20px;
                    text-overflow: ellipsis;
                    position: relative;
                    .post-description {
                        height: 160px;
                        overflow: hidden;
                    }
                    .post-description-overlay {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 75px;
                        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba($main-background-color,0)),color-stop(100%,$main-background-color));
                        background: -webkit-linear-gradient(top,rgba($main-background-color,0) 0%,$main-background-color 100%);
                        background: -o-linear-gradient(top,rgba($main-background-color,0) 0%,$main-background-color 100%);
                        background: -ms-linear-gradient(top,rgba($main-background-color,0) 0%,$main-background-color 100%);
                        background: linear-gradient(to bottom,rgba($main-background-color,0) 0%,$main-background-color 100%);
                    }
                }
                .post-more-button {
                    margin-top: 20px;
                    text-decoration: underline;
                }
            }
        }  
        &.showGrid {
            .gallery-image-container {        
                border-right: 1px solid $main-text-color;
                border-bottom: 1px solid $main-text-color;
            }
        }  
    }
}

@media (max-width: $media-breakpoint-md - 1) {
    .image-gallery-02-container {
        .gallery-images-container {
            .gallery-image-container {
                &.display-large {
                    padding-bottom: 20px;
                }
                &:not(.display-large) {
                    .gallery-image {
                        padding: 5px;
                    }
                }
                .gallery-image {
                    .image-container {
                        // border-radius: 5px;
                        overflow: hidden;
                        .post-image-title-container {
                            .post-image-title {
                                min-height: 50px;
                                opacity: 1 !important;
                                position: absolute;
                                text-align: left;
                                bottom: 0;
                                background: linear-gradient(180deg,transparent 0,rgba($main-text-color,.4) 81%);
                                font-size: 1.4em;
                                .post-image-title-text {
                                    bottom: 0;
                                    position: absolute;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.showGrid {
            .gallery-images-container {
                .gallery-image-container {         
                    @include childPostBorderRightNone($portfolio-columns-small);
                    @include childPostBorderBottomNone($portfolio-columns-small);
                }
            }
        }  
    }
}

@media (max-width: $media-breakpoint-md) and (min-width: $media-breakpoint-sm) {
    .image-gallery-02-container {
        .gallery-images-container {
            .gallery-image-container {
                &.display-large {
                    @include childPostPaddingLeftNone($portfolio-columns-small);
                    @include childPostPaddingRightNone($portfolio-columns-small);
                    .gallery-image {
                        padding: 10px;
                        .image-container {
                            .post-image-title-container {
                                .post-image-title {
                                    font-size: 1.4em;
                                }
                            }
                        }
                    }
                }
                &:not(.display-large) {
                    @include childPostPaddingLeftNone(2);
                    @include childPostPaddingRightNone(2);
                    .gallery-image {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-md) {
    .image-gallery-02-container {
        .gallery-images-container {
            .gallery-image-container {
                &.display-large {
                    .gallery-image {
                        .image-container {
                            .post-image-title-container {
                                background-color: rgba($main-background-color-dark, 0.05);
                                .post-image-title {
                                    font-size: 2em;
                                }
                            }
                        }
                    }
                }
                &:not(.display-large) {
                    .gallery-image {
                        .image-container {
                            .post-image-title-container {
                                .post-image-title {
                                    font-size: 1.5em;
                                    line-height: 1.1em;
                                }
                            }
                        }
                    }
                }
                .gallery-image {
                    .image-container {
                        .post-image-title-container {
                            .post-image-title {
                                transform: translateY(15px);
                                opacity: 0;
                                @include transition(
                                    all .3s cubic-bezier(1,0,0,1)
                                );
                            }
                            &:hover {
                                background-color: rgba($main-background-color-dark, 0.3);
                                opacity: 1;
                                .post-image-title {
                                    transform: translateY(0px);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $media-breakpoint-lg) and (min-width: $media-breakpoint-md) {
    .image-gallery-02-container {
        .gallery-images-container {
            .gallery-image-container {
                &:not(.display-large), &.display-large {
                    @include childPostPaddingLeftNone($portfolio-columns-medium);
                    @include childPostPaddingRightNone($portfolio-columns-medium);
                    @include childPostBorderRightNone($portfolio-columns-medium);
                    @include childPostBorderBottomNone($portfolio-columns-medium);
                    .gallery-image {
                        padding: 5px;
                    }
                }
            }
        }
        &.showGrid {
            .gallery-images-container {
                .gallery-image-container {         
                    @include childPostBorderRightNone($portfolio-columns-medium);
                    @include childPostBorderBottomNone($portfolio-columns-medium);
                }
            }
        }  
    }
}



@media (min-width: $media-breakpoint-lg) {
    .image-gallery-02-container {
        margin: 0 auto;  
        .gallery-images-container {   
            .gallery-image-container {
                &:not(.display-large) {
                    width: (100% / $portfolio-columns-large);
                    @include childPostPaddingLeftNone($portfolio-columns-large);
                    @include childPostPaddingRightNone($portfolio-columns-large);
                    @include childPostBorderRightNone($portfolio-columns-large);
                    @include childPostBorderBottomNone($portfolio-columns-large);.gallery-image {
                        padding: 5px;
                        .image-container {
                            .post-image-title-container {
                                .post-image-title {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                &.display-large {
                    .gallery-image {
                        padding: 20px;
                        .image-container {
                            .post-image-title-container {
                                .post-image-title {
                                    font-size: 3em;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.showGrid {
            .gallery-images-container {
                .gallery-image-container {         
                    @include childPostBorderRightNone($portfolio-columns-large);
                    @include childPostBorderBottomNone($portfolio-columns-large);
                }
            }
        }  
    }
}

@media (min-width: $media-breakpoint-xl) {
    .image-gallery-02-container {
        margin: 0 auto;  
    }
}