<div class="image-gallery-02-container" [ngClass]="portfolioConfig.overview.displayGrid ? 'showGrid': ''">
  <div *ngFor="let image of images" class="gallery-image-container">
    <div class="gallery-image">
      <a class="image-container" [routerLink]="['/projekte' , image.shortId]">
        <!-- <div class="post-image" [ngStyle]="getPostImageBackgroundStyle(post)" *ngIf="post.images && post.images.length > 0">
        </div> -->
        <img class="image" [src]="image.url" (load)="imageLoaded(image)" [ngClass]="image.imageLoaded && pageLoaded && (allImagesLoaded || allImagesLoadedTimeoutPassed) ? 'loaded': ''"/>
        <div class="post-image-title-container">
          <h2 [innerHTML]='image.title' class="post-image-title wrc-heading-02"></h2>
        </div>
      </a>
      <div class="post-date" *ngIf="portfolioConfig.displayDescriptionBelowImage">{{getDateStringLong(image.date)}}</div>
      <a [routerLink]="image.routerLink" *ngIf="portfolioConfig.displayTitleBelowImage">
        <h2 [innerHTML]='image.title' class="post-heading wrc-heading-01"></h2>
      </a>
      <div class="post-description-container" *ngIf="portfolioConfig.displayDescriptionBelowImage">
        <div class="post-description" [innerHTML]='image.description'></div>
        <div class="post-description-overlay"></div>
      </div>
      <a class="post-more-button" [routerLink]="image.routerLink" *ngIf="portfolioConfig.displayDescriptionBelowImage">Mehr erfahren</a>
    </div>
  </div>
</div>
