<div class="image-gallery-container" #gallerycontainerelement>
  <div class="image-main-container" [ngStyle]="{'height': mainImageHeight + 'px'}" *ngIf="showMainImage">
    <div class="image-main" [ngStyle]="{'background-image': getImageBackgroundUrl(mainImage)}"></div>
  </div>
  <div class="image-gallery" [ngStyle]="{'height': slideGalleryContainerHeight + 'px'}" *ngIf="images.length > 1">
    <div class="image-slider" [ngStyle]="{'margin-left': (sliderPostHoveredCenter ? -((sliderImageWidth * 0.5) / 2) : 0) - ((galleryContainerWidth - (2 * sliderControlsWidth)) * sliderPageIndex) + (sliderShowPrevButton ? sliderControlsWidth : 0) + 'px'}" #sliderelement>
      <div *ngFor="let image of images" class="post-container" [ngStyle]="image.isHovered && !isDeviceMobile ? {'width': sliderImageWidth * 1.5 + 'px'} : {'width': sliderImageWidth + 'px'}" (mouseenter)="postMouseEnter(image)" (mouseleave)="postMouseLeave(image)" (click)="updateMainImage(image)">
        <div class="post">
          <a class="post-image-container">
            <div class="post-image" [ngStyle]="getBackgroundStyle(image)" [routerLink]="image.routerLink">
            </div>
              <div class="post-image-title-container" [routerLink]="image.routerLink" *ngIf="image.title">
                <h2 [innerHTML]='image.title' class="post-image-title"></h2>
              </div>
          </a>
        </div>
      </div>
    </div>
    <div class="image-gallery-button image-gallery-button-prev" (click)="sliderPrev()" [ngClass]="sliderShowPrevButton ? 'show' : ''">
      <div class="image-gallery-button-prev-icon fas fa-chevron-left"></div>
    </div>
    <div class="image-gallery-button image-gallery-button-next" (click)="sliderNext()" [ngClass]="sliderShowNextButton ? 'show' : ''">
      <div class="image-gallery-button-prev-icon fas fa-chevron-right"></div>
    </div>
  </div>
</div>
