<div class="navbar-container" [ngClass]="[navigationConfig.displaySecondRow ? 'showSecondRow' : '']">
  <div class="loading-animation-container" >
    <div class="loader-container" [ngClass]="[
      pageLoaded || !isBrowser ? 'hide' : '',
      !navigationConfig.displayLoadingAnimationInNavbar ? 'position-screen-center' : 'position-navbar']!"
      [ngStyle] = "!navigationConfig.displayLoadingAnimationInNavbar && !pageLoaded ? getLoaderContainerStyle() : {}">
      <div class="loader-circle"></div>
      <div class="loader-line-mask">
        <div class="loader-line"></div>
      </div>
    </div>
    <div class="logo-container" [ngClass]="[pageLoaded || (pageInitiallyLoaded) ? 'show' : '', isApplicationYW() ? 'background-active' : '']">
      <div class="logo-container-inner">  
        <div class="logo" routerLink="/" *ngIf="isApplicationTTH()"></div>
        <div class="logo" routerLink="/" *ngIf="!isApplicationTTH()" [innerHTML]='navigationConfig.titleHtml'></div>
      </div>
    </div>
    <!-- <div class="logo-container" *ngIf="!pageIsHome">
        <div class="logo" routerLink="/"></div>
    </div> -->
    <div class="title-container" *ngIf="pageIsHome && isApplicationTTH()" [ngClass]="[pageLoaded && pageInitiallyLoaded && isBrowser ? '' : '']">
      <div class="title" routerLink="/" [innerHTML]='navigationConfig.titleHtml'></div>
    </div> 
  </div>
  <div class="main-content-container main-content-container-padding">
    <div class="navbar main-content" [ngClass]="isMobileNavOpen === true ? 'mobile-nav-open': ''">
      <div routerLink="/" class="logo-container">
        <div class="logo"></div>
        <div class="logo-label-container">
          <div class="logo-label">
            <span [innerHTML]='navigationConfig.titleHtml'></span>
          </div>
        </div>
      </div>
      <div class="navbar-menu-icon-container" (click)="toggleMobileNav()" *ngIf="isBrowser && navigationConfig.displayMenuIcon">
        <div class="navbar-menu-icon">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
        </div>
      </div>
      <div class="navbar-second-row" [ngClass]="[(pageLoaded || pageInitiallyLoaded) && isBrowser ? 'show' : '', !navigationConfig.displaySecondRow ? 'remove' : '']">
        <div class="navbar-second-row-elements">
          <a class="navbar-second-row-element link" *ngFor="let element of navigationConfig.navigationElements" [routerLink]="element.routerLink" [ngClass]="[element.isActive ? 'isActive': '']">
          {{element.title}}
          </a>
        </div>
        <div class="navbar-second-row-border-container">
          <div class="navbar-second-row-border-elements" [ngStyle]="activeNavigationElementIndex < 0 ? {'margin-left': 0} : {'margin-left': (borderWidth * activeNavigationElementIndex)  + 'px'}" #navbarsecondrowborderelement>
            <div class="navbar-second-row-border-element" 
             [ngClass]="activeNavigationElementIndex < 0 ? 'hide': ''"
            *ngFor="let element of navigationConfig.navigationElements"></div>
          </div>
        </div>
        <div class="navbar-second-row-border-bottom"></div>
      </div>
      <div class="navbar-page-overlay" [ngClass]="isMobileNavOpen === true ? 'show': ''" (click)="closeMobileNav()">

      </div>
      <div class="navbar-navigation">
        <div class="dropdown" *ngFor="let element of navigationConfig.navigationElements">
          <a class="navbar-navigation-link" [routerLink]="element.routerLink" (click)="closeMobileNav()">{{element.title}}
            <i class="dropdown-arrow fa fa-caret-down" *ngIf="element.subelements"></i>
          </a>
          <div class="dropdown-content" *ngFor="let subelement of element.subelements">
            <a class="navbar-navigation-link dropdown-link" [routerLink]="subelement.routerLink" (click)="closeMobileNav()">{{subelement.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
