.footer-container {
    opacity: 0;
    &.page-loaded {
        animation-name: fade-in;
        animation-delay: 1s;
        animation-duration: 0.7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    &.display-background-color {
        background-color: $footer-background-color;
    }
    &.display-border-line {
        .footer {
            border-top: 1px solid $text-02-color;
        }
    }
    .footer {
        overflow: hidden;
        bottom: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        z-index: 10;
        color: $main-text-color;
        padding-top: 20px;
        padding-bottom: 30px;
        .footer-section-container {
            .footer-section {
                text-align: center;
                .footer-section-heading {
                    color: $main-text-color;
                    text-decoration: none;
                }
                .footer-section-content {
                    font-size: $text-main-size;
                    color: $text-02-color;

                    &.footer-section-content-social {
                        text-align: center;
                    }

                    .footer-section-content-link {
                        display: block;
                        text-decoration: none;
                    }
                    .consultation-label {
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                        i {
                            font-size: 10px;
                            margin-left: 10px;
                        }
                    }
                    .footer-section-content-link-inline {
                        display: inline-block;
                        margin-right: 4px;
                    }
                    .footer-section-content-link-icon {
                        display: inline-block;
                        text-decoration: none;
                        color: $text-02-color;
                        margin: 10px;
                        position: relative;
                        width: 40px;
                        height: 40px;
                        padding: 10px;
                        @include border-radius(30px);
                        border: 1px solid $text-02-color;
                        i {
                            position: absolute;
                            font-size: 30px;
                            width: 40px;
                            left: 10px;
                            top: 13px;
                        }
                        &.small-icon {
                            width: 25px;
                            height: 25px;
                            padding: 5px;
                            margin: 5px;
                            i {
                                font-size: 20px;
                                width: 25px;
                                left: 5px;
                                top: 8px;
                            }
                        }
                    }
                    .footer-section-content-break {
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-breakpoint-md - 1) {
    .footer-container {
        .footer {
            .footer-section-container {
                .footer-section {
                    margin: 30px;
                }
            }
        }
    }
}

.page-loaded {
    .footer-container {
        opacity: 1;
    }
}

@media (min-width: $media-breakpoint-md) {
    .footer-container {
        .footer {
            padding-top: 50px;
            padding-bottom: 50px;
            margin: 0 auto;
            @include flexbox();
            .footer-section-container {
                width: 33%;
                @include flexbox();
                .footer-section {
                    text-align: left;
                    &.footer-section-contact {
                        padding-right: 50px;
                    }
                    &.footer-section-social {
                        margin: 0 auto;
                        .footer-section-content-link-icon:first-of-type {
                            margin-left: 0;
                        }
                        .footer-section-content-link-icon:last-of-type {
                            margin-right: 0;
                        }
                    }
                    &.footer-section-legal {
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}